.top-admin{
  background-color: lightgrey;
}
.trending-admin{
  background-color: #5bc0de;
}
.white-heading{
  color: white;
}
.current-invoices{
  background-color: #55acee;
}
.current-pos{
  background-color: #55acee;
}
.tr-color{
 color: orange;
}
.white-link{
  color:white;
}
