
<footer layout-margin>
  <div layout="row" layout-align="center center">
    <div layout="row" hide-xs layout-margin>
      <!--this is where we will place our social media icons.-->
      <div layout-margin><img src="./assets/images/linkedin_sm.png" alt="linked IN"></div>
      <div layout-margin><img src="./assets/images/twitter_sm.png" alt="twitter"></div>
      <div layout-margin><img src="./assets/images/wordpress_sm.png" alt="wordpress"></div>
      <div layout-margin><img src="./assets/images/drop_box_sm.png" alt="drop box"></div>
    </div>

    <span flex></span>

    <div flex class="footer_info" layout-margin align="right">
      <h4>Yellow Toad <b1>Consulting</b1></h4>
      <!--<h5>PO Box 264</h5>-->
      <!--<h5>Caledonia MI 49316</h5>-->
      <h5>info@yellowtoadconsulting.com</h5>
      <!--<h5>616.204.0715</h5>-->
      <h6>Copywright Yellow Toad Consulting LLC 2016</h6>
    </div>
    <!--<div flex>-->
    <!--<div>-->
    <!--<md-fab-speed-dial md-direction="left" class="md-scale">-->
    <!--<md-fab-trigger>-->
    <!--<md-button aria-label="Social Menu" class="md-fab md-warn share">-->
    <!--<i class="mdi mdi-share-variant"></i>-->
    <!--<md-tooltip md-direction="left" md-visible="tooltipVisible">Social Menu</md-tooltip>-->
    <!--</md-button>-->
    <!--</md-fab-trigger>-->
    <!--<md-fab-actions>-->
    <!--<md-button aria-label="LinkedIn" class="md-fab md-raised md-mini" ng-click="demo.openDialog($event, item)">-->
    <!--<md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">-->
    <!--{{item.name}}-->
    <!--</md-tooltip>-->

    <!--<md-icon md-svg-src="" aria-label=""></md-icon>-->
    <!--</md-button>-->
    <!--</md-fab-actions>-->
    <!--</md-fab-speed-dial>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</footer>
