
<div layout="row" layout-xs="column">
  <div flex>
    <h3>Design, Develop, <span class="text-red">Deliver...</span></h3>
  </div>
  <!--<div ng-if="!splash.isLoggedIn()" ui-view="login"></div>-->
</div>




<div layout="row" layout-xs="column" layout-margin>
  <div flex>
    <h1 align="center"><i class="material-icons md-48 orange">settings</i></h1>
    <h4 align="center">Collection of time with associated description and analytcis helps the full
      chain of usage with visibility and maintenance of current expectations.</h4>
  </div>
  <div flex>
    <h1 align="center"><i class="material-icons md-48 orange">perm_identity</i></h1>
    <h4 align="center">This is some text that I cant believe I am writing in an effort to figure out
      how this is going to work with all of the space and how things with the Div will go.</h4>
  </div>
  <div flex>
    <h1 align="center"><i class="material-icons md-48 orange">schedule</i></h1>
    <h4 align="center">This is some text that I cant believe I am writing in an effort to figure out
      how this is going to work with all of the space and how things with the Div will go.</h4>
  </div>
</div>


<div layout="row">
  <span flex></span>
  <div>
    <h3>Forecast, Visibility, <span class="text-red">Access...</span></h3>
  </div>

</div>

<!--<foot></foot>-->


<!--<foot></foot>-->
